<div class="container">
 <div class="row">
   <div class="col-8 offset-2">
     <div class="card mt-4">
       <div class="card-body">
         <h5 class="card-title">Goals</h5>
         <p>
           <strong>ID</strong>: {{lifestyle.id}}</p>
         <p>
           <p>
             <strong>Goal</strong>: {{lifestyle.goal}}</p>
           <p>
             <strong>Description</strong>: {{lifestyle.description}}</p>

           <a href="/lifestyle">← Back To Lifestyle List</a>
       </div>
     </div>
   </div>
 </div>
</div>