

<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="jumbotron">
                    <h1 class="display-4">Healthy Weight Challenge</h1>
                    <p class="lead">Be the Best You. Show the World.</p>
                    <hr class="my-4">
                    <p>Enter what you have been eating, find out how many calories you're eating compared to others. Work
                        together to be at your healthiest weight and lifestyle.</p>
                    <a class="btn btn-primary btn-lg" href="" id="logInButton" class="close" role="button">Learn More</a>

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        My Profile
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <img src="./assets/images/apples.jpg" alt="Fruits" id="collasibleImage">
                                <div class="card-body">
                                    Welcome to
                                    <strong>The Healthy Weight Challenge!</strong> We are here to help you reach your goals
                                    one calorie at a time. Please take a moment to record your profile information accurately
                                    so you can begin competing against other users by counting calories in a fun way.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Lifestyle
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <img src="./assets/images/active.jpg" alt="Fruits" id="collasibleImage">
                                <div class="card-body">
                                    Having an active lifestyle is just as important as eating a healthy amount of calories each day. On this page, you will be
                                    able to keep track of your daily activity goals and supplemental nutrient intake; such
                                    as how many glasses of water did you consume today. 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        My Blog
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <img src="./assets/images/blog.jpg" alt="Fruits" id="collasibleImage">
                                <div class="card-body">
                                    Having a way to keep notes about how your day went is an important part of The Healthy Weight Challenge. Some days we fall
                                    short of our goals but being able to document what happened can keep you on the right.
                                    We encourage all our users to fill out a daily blog. You will be suprised how much you
                                    will enjoy reflecting back as you participate in this challenge.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
