<div id="video">
<iframe width="320" height="180" src="https://www.youtube.com/embed/0aNNYEUARAk?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="lifeStyleVido"></iframe>
</div>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">
              <h2>My Healthy Lifestyle List</h2>
            </h1>
            <p class="lead">Enter your goals and work to accomplish them.</p>
            </h1>
            <br>
            <img src="./assets/images/checklist.png" alt="checklist" id="checklistPhoto">
            <div id="userInformation">
            </div>
          </div>
          <br>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Goal:</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Goal Here">
            </div>
            <div class="form-group">
              <label for="example-description">Description:</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Goal Description Here"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">My To-Do List:</h1>
            <ul id="to-do-list" class="list-group">
              {{#each lifestyles}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="lifestyle/{{this.id}}">{{this.text}}</a>
              </li>
              {{/each}}
              <br>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>