<img src="./assets/images/runImage.jpg" alt="run" id="runImage">

<div id="standings">
  <div class="container1">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="jumbotron jumbotron-fluid">
          <h2 id="memberTitle">Member Progress</h2>
          <iframe src="https://giphy.com/embed/l2Sqc3POpzkj5r8SQ" width="480" height="201" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>
  <a href="https://giphy.com/gifs/run-forrest-gump-l2Sqc3POpzkj5r8SQ"></a>
</p>
          <div class="card">
            <div class="container">
              <div class="row" id="tableHeaders">
                <div class="col-sm">
                  Member
                </div>
                <div class="col-sm">
                  Group
                </div>
                <div class="col-sm">
                  Calorie Count
                </div>
                <div class="col-sm">
                  Goal Completed
                </div>
              </div>
            </div>
          </div>

          {{#each profiles}}
          <div class="card">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  {{this.name}}
                </div>
                <div class="col-sm">
                  {{this.calorieGoal}}
                </div>
                <div class="col-sm">
                  {{this.calories}}
                </div>
                <div class="col-sm" id="dailysummaryTotalCal">
                  {{this.calories}}
                  {{!-- <script>isGoalAchieved();</script> --}}
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/standings.js"></script>
<script src="/js/profile.js"></script>
